body{
    min-width: 100vw;
    overflow-x: hidden;
    background-color: #1E2833;
    box-sizing: border-box;
}

#header{
    position: fixed;
    width: 100%;
    min-height: 100px;
    background-color: #1E2833;
    color: white;
    z-index: 99;
}

#header .logo-container{
    width: 100%;
    display: block;
    padding: 20px 0 10px 0;
    float: left;
}

#header .logo-container a{
    height: 100%;
}

#header .menu-container{
    width: 100%;
    display: block;
    float: left;
    padding: 0 15px;
}

.menu-nav{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-nav li{
    position: relative;
    display: block;
    float: left;
    height: 100%;
    text-align: center;
}

.menu-nav li:hover{
    color: white;
    background-color: #0B8890
}

.menu-nav .active{
    color: white;
    background-color: #0B8890
}
.menu-nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.menu-nav .align-right{
    float: right
}

.my-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #1E2833;
    color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.my-dropdown li{
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    text-align: left;
}

.my-dropdown li:hover{
    color: white;
    background-color: #0B8890
}

.my-dropdown li span,
.my-dropdown li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.my-dropdown li a:hover{
    color: white;
    background-color: #0B8890
}

#container{
    display: block;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 20px;
    background-color: #F6F8FA;
    color: #1E2833;
}

.my-input{
    margin-bottom: 10px;
}

.my-message-list{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0
}

.my-message-list li{
    padding: 10px 10px 10px 40px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
}

.error-list,
.error-list li{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.success-list,
.success-list li{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#footer{
    width: 100%;
    background-color: #1E2833;
    color: white;
}