<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata >
        <f:viewAction action="#{userController.validateAdminPermissions}" />
    </f:metadata>
    
    <ui:define name="content">
        <h:panelGroup layout="block" class="col-md-12">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Lista de items</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                    
                    <h:dataTable value="#{itemsController.allItems}" var="item" cellpadding="0" cellspacing="0"
                                 rules="all" class="table table-responsive table-hover" >
                        
                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Nome"/>
                           </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Estado"/>
                           </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Data de criação"/>
                           </f:facet>
                            <h:outputText value="#{item.createdAt}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Ações"/>
                           </f:facet>
                                
                            <h:link class="btn btn-default" style="float: right" outcome="/admin/item?id=#{item.id}">
                                <h:panelGroup class="glyphicon glyphicon-eye-open"  ></h:panelGroup>
                            </h:link>
  
                       </h:column>
                        
                    </h:dataTable>
                    
                    <h:panelGroup layout="block" class="col-md-12" >
                        
                        <h:form>
                            
                            <h:link style="float: left" rendered="#{itemsController.offset ge 10}" outcome="/admin/itemlist?offset=#{itemsController.offset - 10}">
                                <h:panelGroup class="glyphicon glyphicon-chevron-left"></h:panelGroup> Anterior
                            </h:link>
                            
                            <h:link style="float: right" rendered="#{itemsController.numResults eq 10}" outcome="/admin/itemlist?offset=#{itemsController.offset + 10}">
                                Próximo <h:panelGroup class="glyphicon glyphicon-chevron-right"></h:panelGroup>
                            </h:link>
                            
                        </h:form>
                        
                    </h:panelGroup>
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>


</ui:composition>
