<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata >
        <f:viewAction action="#{userController.validateAdminPermissions}" />
        <f:viewAction action="#{itemsController.findItem}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-12">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Item #{itemsController.itemName}</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                    
                    
                    <h:form >
                        <h:panelGroup layout="block" class="col-md-6">
                            <h:outputLabel value="Name" for="name" />
                            <h:inputText id="name" class="form-control my-input" required="true" value="#{itemsController.itemName}" requiredMessage="Introduza o nome do item!" />
                            <h:messages for="name" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-3">
                            <h:outputLabel value="Categoria" for="categorie" />
                            <h:selectOneMenu id="categorie" class="form-control my-input"  value="#{itemsController.itemCategorie}" required="true">
                                <f:selectItems value="#{itemsController.allCategories}" />
                            </h:selectOneMenu>
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-3">
                            <h:outputLabel value="Data Limite (yyyy/mm/dd)" for="limit_date" />
                            <h:inputText id="limit_date" validator="#{itemsController.validateDate}" class="form-control my-input" required="true" value="#{itemsController.itemLimit_date}" requiredMessage="Introduza a data limite de compra de compra do item!" />
                            <h:messages for="limit_date" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-4">
                            <h:outputLabel value="Preço inicial:" for="init_price" />
                            <h:inputText id="init_price" class="form-control my-input" required="true" value="#{itemsController.itemInitial_price}" requiredMessage="Introduza o preço inicial do item!" />
                            <h:messages for="init_price" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-4">
                            <h:outputLabel value="Preço de Compra" for="buy_price" />
                            <h:inputText id="buy_price" class="form-control my-input" required="true" value="#{itemsController.itemBuy_price}" requiredMessage="Introduza o preço de compra do item!" />
                            <h:messages for="buy_price" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-4" style="margin-bottom: 5px">
                            <h:outputLabel value="Estado:" for="status" />
                            <h:outputText value="&nbsp;#{itemsController.itemStatus}" />
                        </h:panelGroup>
 
                        <h:panelGroup layout="block" class="col-md-9">
                            <h:outputLabel value="Descrição" for="description" />
                            <h:inputText id="description"  class="form-control my-input" value="#{itemsController.itemDescription}" />
                        </h:panelGroup>

                        
                        <h:panelGroup layout="block" class="col-md-12">
                            <h:commandButton rendered="#{itemsController.itemStatus eq 'ONBIDDING'}"
                                             class="btn btn-warning" style="float: left" action="#{itemsController.cancelItem}" value="Cancelar Item"/>
                            <h:commandButton rendered="#{itemsController.itemStatus eq 'CANCELED'}"
                                             class="btn btn-warning" style="float: left" action="#{itemsController.reactivateItem}" value="Reativar Item"/>
                            <h:commandButton class="btn btn-success" style="float: right" action="#{itemsController.saveItem}" value="Guardar" />
                        </h:panelGroup>
                    </h:form>
                    
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
