<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata >
        <f:viewAction action="#{userController.validateAdminPermissions}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-9">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Nova Categoria</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                        
                    <h:form >
                        <h:panelGroup layout="block" class="col-md-12">
                            <h:outputLabel value="Name" for="name" />
                            <h:inputText id="name" class="form-control my-input" required="true" value="#{itemCategoriesController.name}" requiredMessage="Introduza o nome do utilizador!" />
                            <h:messages for="name" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-12">
                            <h:outputLabel value="Descrição" for="description" />
                            <h:inputTextarea id="description"  class="form-control my-input" value="#{itemCategoriesController.description}" />
                        </h:panelGroup>
                        
                        
                        <h:panelGroup layout="block" class="col-md-12">
                            <h:commandButton class="btn btn-default" style="float: right" action="#{itemCategoriesController.createNewItemCategorie}" value="Guardar" />
                        </h:panelGroup>
                    </h:form>
                    
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/admin/itemcategorieslist" class="list-group-item">Lista de categorias</h:link>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
