<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <f:metadata >
        <f:viewAction action="#{userController.validateAdminPermissions}" />
    </f:metadata>
    
    <ui:define name="content">
        
         <h:panelGroup layout="block" class="col-md-9">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Denúncias</h:outputLabel>
                </h:panelGroup>
                 <h:panelGroup layout="block" class="panel-body">
                     
                    <h:dataTable value="#{reportsController.allReports}" var="report" cellpadding="0" cellspacing="0"
                                 rules="all" class="table table-responsive table-hover" >
                         
                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Tipo"/>
                           </f:facet>
                             <h:outputText value="#{report.type}"/>
                        </h:column>

                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Motivo"/>
                           </f:facet>
                             <h:outputText value="#{report.motive}"/>
                        </h:column>

                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Quem Reportou"/>
                           </f:facet>
                             <h:link outcome="/admin/user?id=#{report.reporter.id}"> <h:outputText value="#{report.reporter.name}"/> </h:link>
                        </h:column>

                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Reportado"/>
                           </f:facet>
                            
                            <h:link rendered="#{report.type eq 'USER'}" outcome="/admin/user?id=#{report.user_reported.id}"> <h:outputText value="#{report.user_reported.name}"/> </h:link>
                        
                            <h:link rendered="#{report.type eq 'ITEM'}" outcome="/admin/item?id=#{report.item_reported.id}"> <h:outputText value="#{report.item_reported.name}"/> </h:link>
                        </h:column>
                        
                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Data"/>
                           </f:facet>
                            <h:outputText value="#{report.createdAt}"/>
                        </h:column>
                        
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Ações"/>
                           </f:facet>
                            
                            <h:form>
                                <h:commandLink class="btn btn-default" style="float: right" action="#{reportsController.closeReport(report.id)}">
                                    <h:panelGroup class="glyphicon glyphicon-remove"  ></h:panelGroup>
                                </h:commandLink>

                            </h:form>
                        </h:column>
                        
                    </h:dataTable>
                     
                     <h:panelGroup layout="block" class="col-md-12" >
                        
                        <h:form>
                            
                            <h:link style="float: left" rendered="#{reportsController.offset ge 10}" outcome="/admin/userrequests?offset=#{reportsController.offset - 10}">
                                <h:panelGroup class="glyphicon glyphicon-chevron-left"></h:panelGroup> Anterior
                            </h:link>
                            
                            <h:link style="float: right" rendered="#{reportsController.numResults eq 10}" outcome="/admin/userrequests?offset=#{reportsController.offset + 10}">
                                Próximo <h:panelGroup class="glyphicon glyphicon-chevron-right"></h:panelGroup>
                            </h:link>
                            
                        </h:form>
                        
                    </h:panelGroup>
                     
                 </h:panelGroup>
             </h:panelGroup>
         </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/admin/userrequests" class="list-group-item">Pedidos de Utilizadores</h:link>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
