<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <f:metadata >
        <f:viewAction action="#{userController.validateAdminPermissions}" />
        <f:viewAction action="#{accountsController.findUserAccount}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-12">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Utilizador #{accountsController.name}</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                    
                    
                    <h:form >
                        <h:panelGroup layout="block" class="col-md-9">
                            <h:outputLabel value="Name" for="name" />
                            <h:inputText id="name" class="form-control my-input" required="true" value="#{accountsController.name}" requiredMessage="Introduza o nome do utilizador!" />
                            <h:messages for="name" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-3">
                            <h:outputLabel value="Username" for="username" />
                            <h:inputText id="username"  class="form-control my-input" required="true" value="#{accountsController.username}" requiredMessage="Introduza o username!" />
                            <h:messages for="username" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-9">
                            <h:outputLabel value="Morada" for="address" />
                            <h:inputText id="address" class="form-control my-input" value="#{accountsController.address}" />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-3">
                            <h:outputLabel value="Dinheiro" for="money" />
                            <h:inputText id="money" class="form-control my-input" value="#{accountsController.money}" />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-6">
                            <h:outputLabel value="Tipo de utilizador" for="type" />
                            <h:selectOneMenu id="type" class="form-control my-input" value="#{accountsController.userType}" required="true">
                                <f:selectItems value="#{accountsController.userTypeValues}" />
                            </h:selectOneMenu>
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-6" style="margin-bottom: 5px">
                            <h:outputLabel value="Estado da conta:" for="status" /> 
                            <h:outputText value="&nbsp;#{accountsController.userStatus}" />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-12">
                            
                            <!--<h:commandButton rendered="#{accountsController.userStatus eq 'TOBEAPROVED'}"
                                             class="btn btn-warning" style="float: left; margin-right: 10px" action="#" value="Aceitar Pedido" />
                            
                            <h:commandButton rendered="#{accountsController.userStatus eq 'TOBEAPROVED'}"
                                             class="btn btn-warning" style="float: left" action="#" value="Rejeitar Pedido" />-->
                            
                            <h:commandButton rendered="#{accountsController.userStatus eq 'BLOCKED' or accountsController.userStatus eq 'INACTIVE'}"
                                             class="btn btn-warning" style="float: left" action="#{accountsController.reactivateAccount}" value="Ativar Conta" />
                            
                            <h:commandButton rendered="#{accountsController.userStatus eq 'ACTIVE'}" 
                                             class="btn btn-warning" style="float: left" action="#{accountsController.blockAccount}" value="Suspender Conta" />

                            <h:commandButton class="btn btn-success" style="float: right" action="#{accountsController.saveUser}" value="Guardar" />
                        </h:panelGroup>
                    </h:form>
                    
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
