<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <f:metadata >
        <f:viewAction action="#{userController.validateUserPermissions}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-9">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Mudar Password</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                    
                    <h:panelGroup layout="block" class="col-md-12">
                        <h:form >

                            <h:outputLabel value="Password Atual" for="password" />
                            <h:inputSecret id="password" class="form-control my-input" required="true" value="#{userController.old_password}" requiredMessage="Introduza a password atual!" />
                            <h:messages for="password" class="my-message-list error-list"  />

                            <h:outputLabel value="Nova Password" for="newPassword" />
                            <h:inputSecret id="newPassword"  class="form-control my-input" required="true" value="#{userController.password}" requiredMessage="Introduza a nova password!" />
                            <h:messages for="newPassword" class="my-message-list error-list"  />

                            <h:outputLabel value="Confirme a Nova Password" for="confPassword" />
                            <h:inputSecret id="confPassword" class="form-control my-input" value="#{userController.conf_password}" validator="#{userController.validaPassword}" required="true" requiredMessage="Confirme a nova password!" />
                            <h:messages for="confPassword" class="my-message-list error-list"  />

                            <h:commandButton class="btn btn-default" style="float: right" action="#{userController.changePassword}" value="Guardar" />

                        </h:form>
                    </h:panelGroup>
                    
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/user/account" class="list-group-item">A minha conta</h:link>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
