<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{userController.validateUserPermissions}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-9">
            <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Os Meus Items</h:outputLabel>
                </h:panelGroup>
                
                <h:panelGroup layout="block" class="panel-body">
                    
                    <h:dataTable value="#{itemsController.allItemsByUser}" var="item" cellpadding="0" cellspacing="0"
                                 rules="all" class="table table-responsive table-hover" >
                        
                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Nome"/>
                           </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Categoria"/>
                           </f:facet>
                            <h:outputText value="#{item.categorieId.name}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Estado"/>
                           </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Data limite"/>
                           </f:facet>
                            <h:outputText value="#{item.date_max_bids}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Ultima bid"/>
                           </f:facet>
                            <h:outputText value="#{item.lastBidValue}"/>
                        </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Ações"/>
                           </f:facet>
                                
                            <h:link class="btn btn-default" style="float: right" outcome="/user/ownitem?id=#{item.id}">
                                <h:panelGroup class="glyphicon glyphicon-eye-open"  ></h:panelGroup>
                            </h:link>
  
                       </h:column>
                        
                    </h:dataTable>
                    
                    <h:panelGroup layout="block" class="col-md-12" >
                        
                        <h:form>
                            
                            <h:link style="float: left" rendered="#{itemsController.offset ge 10}" outcome="/user/items?offset=#{itemsController.offset - 10}">
                                <h:panelGroup class="glyphicon glyphicon-chevron-left"></h:panelGroup> Anterior
                            </h:link>
                            
                            <h:link style="float: right" rendered="#{itemsController.numResults eq 10}" outcome="/user/items?offset=#{itemsController.offset + 10}">
                                Próximo <h:panelGroup class="glyphicon glyphicon-chevron-right"></h:panelGroup>
                            </h:link>
                            
                        </h:form>
                        
                    </h:panelGroup>
                    
                </h:panelGroup>
                
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/user/newitem" class="list-group-item">Novo Item</h:link>
                <h:link outcome="/user/boughtitems" class="list-group-item">Items Comprados</h:link>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
