<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata >
        <f:viewAction action="#{userController.validateUserPermissions}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-9">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Nova Mensagem</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                     
                    <h:form >
                        <h:panelGroup layout="block" class="col-md-9">
                            <h:outputLabel value="Mensagem" for="messagem" />
                            <h:inputTextarea id="message" class="form-control my-input" required="true" value="#{messageController.message}" requiredMessage="Escreva uma mensagem!" />
                            <h:messages for="message" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-3">
                            <h:outputLabel value="Destinatário" for="receiver" />
                            <h:inputText id="receiver"  class="form-control my-input" required="true" value="#{messageController.receiver}" requiredMessage="Escolha o destinatário">
                                <f:ajax render="result_list" execute="receiver" event="keyup" listener="#{messageController.searchUser()}" />
                            </h:inputText>
                            <h:panelGroup layout="block" id="result_list" >
                                <h:panelGroup layout="block" rendered="#{messageController.numResults gt 0}">
                                    <ul id="dropdown_list" class="dropdown-menu my-dropdown" style="display: block; right: 0">
                                        <c:forEach items="#{messageController.searchResults}" var="item">
                                            <li onclick="onItemClick('#{item.username}')"><span>#{item.username}</span></li>
                                        </c:forEach>
                                    </ul>
                                </h:panelGroup>
                            </h:panelGroup>
                            
                            <script type="text/javascript" >

                                function onItemClick(username){
                                    $("[id*=receiver]").val(username);
                                    $("#dropdown_list").hide();
                                }
                            </script>
                           
                            <h:messages for="receiver" class="my-message-list error-list"  />
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" class="col-md-12">
                            <h:commandButton class="btn btn-success" style="float: right" action="#{messageController.sendNewMessage}" value="Enviar" />
                        </h:panelGroup>
                    </h:form>
                    
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/user/messagereceived" class="list-group-item">Mensagens Recebidas</h:link>
                <h:link outcome="/user/messagesent" class="list-group-item">Mensagens Enviadas</h:link>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>

</ui:composition>
