<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <f:metadata >
        <f:viewAction action="#{userController.validateUserPermissions}" />
        <f:viewAction action="#{itemsController.findItemOwnedByUser}" />
    </f:metadata>
    
    <ui:define name="content">
        
        <h:panelGroup layout="block" class="col-md-9">
            <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Item #{itemsController.itemName}</h:outputLabel>
                </h:panelGroup>
                
                <h:panelGroup layout="block" class="panel-body">
                    
                   
                    <h:panelGroup layout="block" class="col-md-8" style="margin-bottom: 5px">
                        <h:outputLabel value="Name:" for="name" />
                        <h:outputText value="&nbsp;#{itemsController.itemName}" />
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="col-md-4" style="margin-bottom: 5px">
                        <h:outputLabel value="Categoria:" for="categorie" />
                        <h:outputText value="&nbsp;#{itemsController.itemCategorieName}" />
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="col-md-4" style="margin-bottom: 5px">
                        <h:outputLabel value="Preço inicial:" for="init_price" />
                        <h:outputText value="&nbsp;#{itemsController.itemInitial_price}" />
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="col-md-4" style="margin-bottom: 5px">
                        <h:outputLabel value="Preço de Compra:" for="buy_price" />
                        <h:outputText value="&nbsp;#{itemsController.itemBuy_price}" />
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="col-md-4" style="margin-bottom: 5px">
                        <h:outputLabel value="Estado:" for="status" />
                        <h:outputText value="&nbsp;#{itemsController.itemStatus}" />
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="col-md-8" style="margin-bottom: 5px">
                        <h:outputLabel value="Descrição:" for="description" />
                        <h:outputText value="&nbsp;#{itemsController.itemDescription}" />
                    </h:panelGroup>

                    <h:panelGroup layout="block" class="col-md-4" style="margin-bottom: 5px">
                        <h:outputLabel value="Data Limite (yyyy/mm/dd):" for="limit_date" />
                        <h:outputText value="&nbsp;#{itemsController.itemLimit_date}" />
                    </h:panelGroup>

                    <h:form > 
                        <h:panelGroup layout="block" class="col-md-12">
                            <h:commandButton rendered="#{itemsController.itemStatus eq 'ONBIDDING'}"
                                             class="btn btn-warning" style="float: right" action="#{itemsController.cancelOwnItem}" value="Cancelar Item"/>
                        </h:panelGroup>
                    </h:form>
                    
                    <h:panelGroup layout="block" class="col-md-12" style="margin-top: 20px">
                        <h:panelGroup layout="block" class="panel panel-default">
                            <h:panelGroup layout="block" class="panel-heading">
                                <h:outputLabel class="h3 panel-title">Lista de bids</h:outputLabel>
                            </h:panelGroup>

                            <h:panelGroup layout="block" class="panel-body">
                                
                                <h:dataTable value="#{itemsController.itemBidsCollection}" var="bid" cellpadding="0" cellspacing="0"
                                 rules="all" class="table table-responsive table-hover" >
                        
                                    <h:column  >
                                       <f:facet name="header">
                                           <h:outputText value="Utilizador"/>
                                       </f:facet>
                                        <h:outputText value="#{bid.userId.name}"/>
                                    </h:column>
                                    
                                    <h:column  >
                                       <f:facet name="header">
                                           <h:outputText value="Valor"/>
                                       </f:facet>
                                        <h:outputText value="#{bid.bid_value}"/>
                                    </h:column>
                                    
                                    <h:column  >
                                       <f:facet name="header">
                                           <h:outputText value="Data"/>
                                       </f:facet>
                                        <h:outputText value="#{bid.createdAt}"/>
                                    </h:column>

                                </h:dataTable>
                                
                            </h:panelGroup>
                
                        </h:panelGroup>
                        
                    </h:panelGroup>

                </h:panelGroup>
                
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/user/items" class="list-group-item">Os Meus Items</h:link>
                <h:link outcome="/user/boughtitems" class="list-group-item">Items Comprados</h:link>
            </h:panelGroup>
        </h:panelGroup>
        
    </ui:define>


</ui:composition>
