<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="content">
        <h:panelGroup layout="block" class="col-md-12">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Newsletter</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                    
                    
                    
                    <h:dataTable value="#{newsletterController.lastNewsletterItems}" var="item" cellpadding="0" cellspacing="0"
                                 rules="all" class="table table-responsive table-hover" >
                        <!--<h:column  >
                           <f:facet name="header">
                               <h:outputText value="ID"/>
                           </f:facet>
                            <h:outputText value="#{item.id}"/>
                       </h:column>-->
                        <h:column  >
                           <f:facet name="header">
                               <h:outputText value="Mensagem"/>
                           </f:facet>
                            <h:outputText value="#{item.message}"/>
                       </h:column>
                        <h:column >
                           <f:facet name="header">
                               <h:outputText value="Data de Criação"/>
                           </f:facet>
                           <h:outputText value="#{item.createdAt}"/>
                       </h:column>
                   </h:dataTable>
                    
                    <h:panelGroup layout="block" class="col-md-12" >
                        
                        <h:form>
                            
                            <h:link style="float: left" rendered="#{newsletterController.offset ge 10}" outcome="/index?offset=#{newsletterController.offset - 10}">
                                <h:panelGroup class="glyphicon glyphicon-chevron-left"></h:panelGroup> Anterior
                            </h:link>
                            
                            <h:link style="float: right" rendered="#{newsletterController.numResults eq 10}" outcome="/index?offset=#{newsletterController.offset + 10}">
                                Próximo <h:panelGroup class="glyphicon glyphicon-chevron-right"></h:panelGroup>
                            </h:link>
                            
                        </h:form>
                        
                    </h:panelGroup>
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        <!--<h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/index" class="list-group-item">Dapibus ac facilisis in</h:link>
                <h:link outcome="/index" class="list-group-item">Morbi leo risus</h:link>
                <h:link outcome="/index" class="list-group-item">Porta ac consectetur ac</h:link>
                <h:link outcome="/index" class="list-group-item">Vestibulum at eros</h:link>
            </h:panelGroup>
        </h:panelGroup>-->
    </ui:define>
    
</ui:composition>
