<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/pageTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="content">
        <h:panelGroup layout="block" class="col-md-9">
             <h:panelGroup layout="block" class="panel panel-default">
                <h:panelGroup layout="block" class="panel-heading">
                    <h:outputLabel class="h3 panel-title">Iniciar Sessão</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" class="panel-body">
                    
                    <h:panelGroup layout="block" class="col-md-12">
                        <h:form >
                            <h:outputLabel value="Username" for="username" />
                            <h:inputText id="username" class="form-control my-input" required="true" value="#{userController.username}" requiredMessage="Introduza o username" />
                            <h:messages for="username" class="my-message-list error-list"  />
                            <h:outputLabel value="Password" for="password" />
                            <h:inputSecret id="password"  class="form-control my-input" required="true" value="#{userController.password}" requiredMessage="Introduza a password" />
                            <h:messages for="password" class="my-message-list error-list"  />

                            <h:commandButton id="login_button" class="btn btn-success" style="float: right" action="#{userController.login}" value="Iniciar Sessão" />

                        </h:form>
                    </h:panelGroup>
                    
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        <h:panelGroup layout="block" class="col-md-3">
            <h:panelGroup layout="block" class="list-group">
                <h:link outcome="/requestaccess" class="list-group-item">Registar Conta</h:link>
                <h:link outcome="/reativateaccount" class="list-group-item">Pedir reativação de conta</h:link>
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>

</ui:composition>
